body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #0056b3;
    color: white;
    padding: 20px 10px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1, h2, h3 {
    color: #333333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #f4f4f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.horizontal-gallery {
    display: flex;
    overflow: hidden; /* Скрыть элементы за пределами области видимости */
    gap: 10px;
}

.horizontal-gallery img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0; /* Запрет на уменьшение размеров */
}


.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0056b3;
    color: white;
}
