<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Профиль пользователя</title>
  <link rel="stylesheet" href="/statistick/css/account.css">
</head>
<body>
  <div class="profile-container">
    <header class="header">
      <h1>Мой Профиль</h1>
    </header>
    <div class="profile-card">
      <div class="profile-photo">
        <label for="upload">
          <img src="default-profile.jpg" alt="Profile Picture" id="profileImg">
        </label>
        <input type="file" id="upload" style="display: none;" accept="image/*">
        <button id="changePhotoBtn">Изменить фото</button>
      </div>
      <h2>Saliev</h2>
      <p>@salieyt</p>
    </div>
    <div class="profile-info">
      <h3>О пользователе</h3>
      <ul>
        <li><strong>Имя:</strong> Saliev</li>
        <li><strong>Email:</strong> salieyt@example.com</li>
        <li><strong>Дата регистрации:</strong> 01.01.2025</li>
      </ul>
    </div>
  </div>
  <script src="/statistick/js/account.js"></script>
</body>
</html>
